.videoBlock {
  video {
    justify-self: center;
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .videoBlock__title {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
  }
}
